datasets
pandas
sentence_transformers
numpy==1.26.4
ml_dtypes
keras<=3.0.0
tensorflow<=2.15
transformers
faiss
torch 
torchvision 
torchaudio 
transformers 
tokenizers 
tqdm 
pillow
ragas
streamlit
langchain-huggingface
matplotlib