# Requires Python 3.10
datasets
pandas
sentence_transformers
numpy==1.26.4
ml_dtypes
keras<=3.0.0
tensorflow-cpu<=2.15
transformers
faiss-cpu==1.7.4
torch 
torchvision 
torchaudio 
transformers 
tokenizers 
tqdm 
pillow
ragas
streamlit
langchain-huggingface
matplotlib
plotly